<footer id="footer">
    <div id="icons">
      Contact me through the following: 
      <a href="https://github.com/issadarkthing" target="_blank">
        github
      </a>
      <a href="https://instagram.com/raziman.terra" target="_blank">
        instagram
      </a>
      <a href="https://twitter.com/issadarkthing" target="_blank">
        twitter
      </a>
      <a href="https://fosstodon.org/@issadarkthing" target="_blank">
        mastodon
      </a>
      <a href="mailto:raziman.terra@gmail.com?subject=website" target="_blank">
        email
      </a>
    </div>
    <div id="copyright">issadarkthing &copy; &nbsp;<div id="year">year</div></div>
</footer>
<script defer>
  const year = document.getElementById("year");
  const now = new Date();
  year.innerText = now.getFullYear();
</script>
